<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Burger</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Coda+Caption" />
		  <!-- Compiled and minified CSS -->
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
 		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}

	{{!-- Add in jQuery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	{{!--calling the script for button controls--}}
	<script src="/assets/js/script.js"></script>
	</body>
</html>
